*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer, .headerTop{
    background-color: rgb(68, 68, 233);
    padding-bottom: 0px,20px;
    width: 100%;
}
footer{
    height: 100px;
}
.headerTop a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    
}
.Products-service-div{
    background-color: blanchedalmond;
}
.card-tile{
    height: 100%;
    margin: 0;
}